<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head" lang="en">
        <meta charset="UTF-8" />
        <title>Kakkosnelonen</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    </head>
    <body>
        <header th:fragment="header">
            <h1>Kakkosnelonen</h1>
            <p>Se uusi ja perampi sosiaalinen media!</p>
        </header>

        <footer th:fragment="footer">
            <ul>
                <p>Se uusi ja perampi sosiaalinen media!</p>
            </ul>
        </footer>
    </body>
</html>