<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head">
        <meta charset="UTF-8" />
        <title>Kakkosnelonen</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header"></header>
        
        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <p>Käyttäjätunnus: <b th:text="${username}"></b> - <a th:href="@{/logout}">kirjaudu ulos</a></p>
                        <p></p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <center>
                                <h3>Muokkaa profiilia</h3>
                                <div th:if="${initial}">
                                    <p>Ennen palvelun käyttämistä sinun tulee kirjata nimesi ja profiilin tunnus.</p>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <center>
                                <form method="POST" th:action="@{/profile}" th:object="${profile}">
                                    <table>
                                        <tr>
                                            <td>Käyttäjän nimi</td>
                                            <td><input id="fullname" type="text" th:field="*{fullname}" /></td>
                                            <td th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">Virheviesti</td>
                                        </tr>
                                        <tr>
                                            <td>Profiilin nimi</td>
                                            <td><input id="profilename" type="text" th:field="*{profilename}" /></td>
                                            <td th:if="${#fields.hasErrors('profilename')}" th:errors="*{profilename}">Virheviesti</td>
                                        </tr>
                                        <tr>
                                            <td><input type="submit" value="Päivitä"/></td>
                                        </tr>
                                    </table>    
                                </form>
                                <p>&nbsp;</p>
                                <p><a th:href="@{/}">Takaisin etusivulle</a></p>
                            </center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                           <p>&nbsp;</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <footer th:replace="fragments/layout :: footer"></footer>
    </body>
</html>
