<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Kakkosnelonen</title>
    </head>
    <body>

        <h2>Muokkaa profiilia</h2>

        <form method="POST" th:action="@{/profile}" th:object="${profile}">
            <table>
                <tr>
                    <td>Käyttäjän nimi</td>
                    <td><input type="text" th:field="*{fullname}" /></td>
                    <td th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">Virheviesti</td>
                </tr>
                <tr>
                    <td>Profiilin nimi</td>
                    <td><input type="text" th:field="*{profilename}" /></td>
                    <td th:if="${#fields.hasErrors('profilename')}" th:errors="*{profilename}">Virheviesti</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Päivitä"/></td>
                </tr>
            </table>    
        </form>
    </body>
</html>
